button {
    padding: 10px 28px;
    border: 2px solid transparent;
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #606060;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    cursor: pointer;
    padding: 0;
    box-shadow: none;
}

.search-container button img {
    width: 20px;
    transition: transform 0.3s ease;
}

.search-container button:hover img {
    transform: scale(1.2);
}

.dropdown-container button {
    width: 100%;
    margin-left: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    padding: 8px;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #333;
    transition: all 0.3s ease;
}

.dropdown-container button:hover {
    border-color: #000000;
    color: #000000;
    box-shadow: white;
}

.table-button {
    text-align: center;
    padding: 10px;
}

.table-button button {
    width: 100%;
    padding: 8px 16px;
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.table-button button:hover {
    background-color: #ffffff;
    border-color: #ff0707;
    color: #ff0000;
}
