table{
    min-width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

th {
    background-color: #f2f2f2;
    padding: 10px; 
    text-align: center;
    border: 1px solid #ddd; 
}

td {
    padding: 10px;
    text-align: left; 
    border: 1px solid #ddd; 
}

tr:hover {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.td-center{
    text-align: center;
}